@model ChampionsListViewModel
@{
    ViewData["Title"] = "All Champions";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var champion in Model.Champions)
    {
        <div>
            <div class="card h-100">
                <img src="@champion.ImageUrl" class="card-img h-50"
                 alt="image" />
                <div class="card-body">
                    <h5 class="card-title text-center pb-4">@champion.ChampionName</h5>
                    <p class="text-center card-text pb-4">@champion.Description</p>
                    <ul class="list-group pt-4">
                        <li class="list-group-item">Origin: @champion.Origin</li>
                        <li class="list-group-item">Level: @champion.Level</li>
                        <li class="list-group-item">Power: @champion.Power</li>
                    </ul>
                </div>

                <div class="card-footer text-center row px-0 mx-0">
                    <div class="col gap-2">
                        <button type="button" class="btn btn-info"><a class="nav-link" asp-action="Details" asp-route-id="@champion.Id">More Info</a></button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>