@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">

    <section>
        <form id="account" method="post">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">@ViewData["Title"]</h2>
                                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-outline form-white mb-4">

                                        <label asp-for="@Model.UserName" class="form-label"></label>
                                        <input asp-for="@Model.UserName" type="username" class="form-control form-control-lg" />
                                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>

                                    </div>

                                    <div class="form-outline form-white mb-4">

                                        <label asp-for="@Model.Email" class="form-label"></label>
                                        <input asp-for="@Model.Email" type="email" class="form-control form-control-lg" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="@Model.Password" type="password" class="form-label"></label>
                                        <input asp-for="@Model.Password" type="password" class="form-control form-control-lg" />
                                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline form-white mb-4">

                                        <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                                        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control form-control-lg" />
                                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                                    </div>

                                    <div class="form-outline form-white mb-4">

                                        <label asp-for="@Model.GameName" class="form-label"></label>
                                        <input asp-for="@Model.GameName" type="username" class="form-control form-control-lg" />
                                        <span asp-validation-for="@Model.GameName" class="text-danger"></span>

                                    </div>

                                    <div class="form-outline form-white mb-4">

                                        <label asp-for="@Model.Level" class="form-label"></label>
                                        <input asp-for="@Model.Level" type="number" class="form-control form-control-lg" />
                                        <span asp-validation-for="@Model.Level" class="text-danger"></span>

                                    </div>

                                    <div class="form-outline form-white mb-4">

                                        <label asp-for="@Model.Description" class="form-label"></label>
                                        <textarea asp-for="@Model.Description" class="form-control form-control-lg" rows="3"></textarea>
                                        <span asp-validation-for="@Model.Description" class="text-danger"></span>

                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="@Model.PositionId" class="form-label">Position</label>
                                        <select asp-for="@Model.PositionId" class="form-select" aria-label="Default select example">
                                            @foreach (var item in Model.Positions)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="@Model.RankId" class="form-label">Rank</label>
                                        <select asp-for="@Model.RankId" class="form-select" aria-label="Default select example">
                                            @foreach (var item in Model.Ranks)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                                </div>

                                <div>
                                    <p class="mb-0">
                                        Have an account? <a asp-controller="ApplicationUser" asp-action="Login" class="text-white-50 fw-bold">Log in</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    @*<div class="col-md-4 offset-md-4">
    <form id="registerForm" method="post">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="text-center mb-3">
    <label asp-for="@Model.UserName">Username</label>
    <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.UserName" />
    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
    </div>
    <div class="text-center mb-3">
    <label asp-for="@Model.Email">Email</label>
    <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Email" />
    <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="text-center mb-3">
    <label asp-for="@Model.Password">Password</label>
    <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
    <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="text-center mb-3">
    <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
    <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="text-center">
    <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
    </div>
    </form>
    </div>*@

</div>



