@model PlayerDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

@*<div class="card mt-4 text-center" >
    <div class="card-body h-100">
        <h5 class="card-title">@Model.GameName</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.RankName</li>
        <li class="list-group-item">@Model.PositionName</li>
        <li class="list-group-item">@Model.Level</li>
        <li class="list-group-item">@Model.Description</li>
    </ul>
</div>*@

<div class="row justify-content-center mt-5 pt-5">
    <div class="card w-75 mt-4 pt-4">
        <div class="row g-0">
            <div class="col-md-16">
                <div class="card-body">
                    <h5 class="card-title text-center pb-5">@Model.GameName</h5>
                    <p class="card-text pb-5">@Model.Description</p>
                    <ul class="list-group list-group-flush pt-4 pb-4 mb-2">
                        <li class="list-group-item">Origin: @Model.RankName</li>
                        <li class="list-group-item">Power: @Model.PositionName</li>
                        <li class="list-group-item">Level: @Model.Description</li>
                    </ul>
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-primary w-25 mt-4 ms-4"><a class="nav-link" asp-action="Details">Edit</a></button>
                    <button type="button" class="btn btn-danger w-25 mt-4 ms-4"><a class="nav-link" asp-action="Details">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
</div>